body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 5rem;
    background-color: lightgray;
    padding: .5rem;
}

#h-left {
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
}

#title {
    align-content: center;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#h-right {
    display: flex;
    align-items: stretch;
    justify-content: right;
    flex-basis: 1;
    flex-grow: 2;
}

.h-butt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    background-image: url(../assets/button.png);
    background-size: 100% 100%;
    margin-left: .5rem;
    width: 10rem;
    text-decoration: none;
    color: black;
}

.h-butt:hover {
    width: 10.5rem;
}

main {
    flex-grow: 1;
    padding: .5rem;
}

#home-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-logo {
    border-radius: 50%;
    padding-right: 2rem;
}

#home-content {
    width: 40%;
    font-size: 1.5em;
}

#home-content h1 {
    display: inline;
    border-bottom: .3rem lightgray solid;
}

#home-content div {
    text-align: justify;
    margin: 2rem 0;
}

#home-content a {
    display: inline;
    padding: .4rem .8rem;
    text-decoration: none;
    color: black;
    background-color: lightgray;
}

footer {
    border:red 1px solid;
}
