* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 5rem;
    background-image: url(assets/granulado.png);
    background-size: auto;
    background-color: #222831;
    padding: .5rem;
}

#h-left {
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
}

#title {
    align-content: center;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#h-right {
    display: flex;
    align-items: stretch;
    justify-content: right;
    flex-basis: 1;
    flex-grow: 2;
}

.h-butt {
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: url(assets/Button1.png);
    background-size: 100% 100%;
    margin-left: .5rem;
    width: 10rem;
    height: 4.5rem;
    text-decoration: none;
    color: white;
}

.h-butt:hover {
    background-image: url(assets/Button2.png);
}

main {
    background-image: url(assets/granulado.png);
    background-size: auto;
    background-color: #31464e;
    flex-grow: 1;
    padding: .5rem;
    text-align: justify;
    font-size: 1.5em;
}

#home-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-main img {
    width: 40rem;
    margin-right: 2rem;
}

#home-content {
    width: 40%;
}

#home-content h1 {
    display: inline;
    border-bottom: .3rem white solid;
}

#home-content div {
    margin: 2rem 0;
}

#home-content a {
    display: inline;
    padding: .4rem .8rem;
    text-decoration: none;
    color: white;
    background-color: #222831;
}

#prob-main {
    padding: 0 20rem;
}

#prob-main div {
    margin: 1rem 0;
}

#time-cards-container {
    display: flex;
    justify-content: center;
    margin: 0 30rem;
    flex-wrap: wrap;
    border-radius: 0 1rem;
    border-color: lightgray;
}

.time-cards {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: center;
}

.time-cards img {
    border-radius: 5rem;
    width: 15rem;
    height: 15rem;
}

.time-cards h2 {
    font-size: .9em;
}

h1 {
    text-align: center;
    color: white;
}

footer {
    border:red 1px solid;
}

table {
    width: 100%;
    font-size: .6em;
}

td {
    border: .1rem solid white;
    padding: .5rem;
}
