* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 6rem;
    background-image: url(assets/granulado.png);
    background-size: auto;
    background-color: #222831;
    border-bottom: .3rem #f08a5d solid;
}

#h-left {
    display: flex;
    align-items: center;
    flex-basis: 1;
    flex-grow: 1;
    padding: .5rem;
}

#title {
    padding-left: 1.5rem;
    align-content: center;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/*#title {
    height: 5rem;
    width: 7rem;
}*/

#h-right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-basis: 1;
    flex-grow: 2;
}

.h-butt {
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: url(assets/Button1.png);
    background-size: 100% 100%;
    margin-left: .5rem;
    width: 10rem;
    height: 4.5rem;
    text-decoration: none;
    color: white;
}

.h-butt:hover {
    background-image: url(assets/Button2.png);
}

main {
    background-image: url(assets/granulado.png);
    background-size: auto;
    background-color: #31464e;
    flex-grow: 1;
    padding: .5rem;
    text-align: justify;
    font-size: 1.5em;
}

#home-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-main img {
    border-radius: 100%;
    width: 40rem;
    margin-right: 2rem;
}

#home-content {
    width: 40%;
}

/*#home-content a {
    background-color: transparent;
    background-image: url(assets/Button1.png);
    background-size: 100% 100%;
}*/

#home-content h1 {
    display: inline;
    border-bottom: .3rem #f08a5d solid;
}

#home-content div {
    margin: 2rem 0;
}

#home-content a {
    background-color: transparent;
    background-image: url(assets/Button3.png);
    background-size: 100% 100%;
    display: inline;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
}

#prob-main {
    padding: 0 20rem;
}

#prob-main div {
    margin: 1rem 0;
}

.data-card {
    display: flex;
}

.data-card img {
    width: 30rem;
    margin: 0 2rem 0 0;
}

#time-cards-container {
    display: flex;
    justify-content: center;
    margin: 0 20rem;
    flex-wrap: wrap;
    border-radius: 0 1rem;
    border-color: lightgray;
}

.time-cards {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    align-items: center;
}

.time-cards h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: #f08a5d;
}

.time-cards p {
    font-size: .9em;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

footer {
    border:red 1px solid;
}

table {
    width: 100%;
    font-size: .6em;
}

td {
    border: .1rem solid white;
    padding: .5rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.image-grid img {
    width: 100%;
    height: auto;
}

.image-item {
    text-align: center;
}
.image-item img {
    width: 100%;
    height: auto;
}
.image-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}